@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100..900&display=swap');
body{
    font-family: Roboto slab;
    margin: 0;
    text-align: center;
    background-color: #fff;
}
.nav{
    margin-top: -30px;
    width: 100%;
    line-height: 80px;
    background-color: #28282b;
}

.nav ul{
    margin-left:-30px;
}
.nav ul li{ 
    position: relative;
    text-align: center;
    margin-top: 12px;
    display:inline-block;
}

.nav ul li a{
    margin: 0px 20px 0px 20px;
    color: #fff;
    padding-right: 10px;
    font-size:22px;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}
.nav ul li a:hover{
    background-color: transparent;
    padding:6px 10px;
    color:#00CED1;
    transition: 0.5s;
}

:-webkit-scrollbar{
    display: none;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0px;
    text-align: center;
    bottom: 0;
    width: 100%;
  }
  
  .active{
    font-weight: 600;
    color: #e2cfaf !important;
  }
  /*Container-Columns*/

  .container1{
      display: flex;  
      flex-direction: column;
      width: 100%;
      height: 45vh;
      cursor: pointer;
      margin: auto;
      margin-top: -16px;
      color: #fff;
    }
    .container1 h1{
        color: #000;
    }
    .container1 p{
        width: 50%;
        margin: 0 auto;
        font-size: 18px;
    }
    .container2{
        display: flex;  
        flex-direction: row;
        width: 95%;
        cursor: pointer;
        height: 340px;
        margin: auto;
        margin-top: 20px;
}
.container3{
    display: flex;  
    flex-direction: row;
    width: 95%;
    cursor: pointer;
    height: 400px;
    margin: auto;
    margin-top: 20px;
}
.left-col1{
    border-radius: 10px;
    color: #fff;
    height: 300px;
    background-position: center;
    background-size: cover;
    width: 50%;
    background-image: linear-gradient(to bottom right, #3a2b10, #6b4c1e 25%, #a06a2a 50%, #c59f5d 75%, #d9be93);
    padding: 20px;
    margin-right: 14px;
}
.left-col1 h1  {
    margin-top: 0px;
}
.right-col1{
    border-radius: 10px;
    color: #fff;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to bottom right, #004d00, #006400 25%, #008000 50%, #32CD32 75%, #9ACD32);
    width: 50%;
    padding: 20px;
}
.left-col2{
    border-radius: 10px;
    color: #fff;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to bottom, #0077be, #0077be 30%, #0077be 50%, #0077be 70%, #0077be);
    width: 50%;
    padding: 10px;
    margin-right: 14px;
}
.right-col2{
    border-radius: 10px;
    color: #fff;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-color: #9a9c9e;
    width: 50%;
    padding: 10px;
}
.left-col1:hover{
    color: transparent;
    background-image: url(/images/col1.jpg);
    transition:0.4s ease-in-out;
    
}
.right-col1:hover{
    color: transparent;
    background-image: url(/images/col2.jpg);
    transition:0.4s ease-in-out;
}
.left-col2:hover{
    color: transparent;
    background-image: url(/images/col3.jpg);
    transition:0.4s ease-in-out;
}
.right-col2:hover{
    color: transparent;
    background-image: url(/images/col4.jpg);
    transition:0.4s ease-in-out;
}

p{
    margin-top: 50px;
}
.footer p {
    margin: 0;
}

#a1{
    animation: change 30s linear infinite alternate;
}
#a2{
    animation: change 30s linear infinite alternate;
    animation-delay: 1s;
}
#a3{
    animation: change 30s linear infinite alternate;
    animation-delay: 2s;
}
#a4{
    animation: change 30s linear infinite alternate;
    animation-delay: 3s;
}
#a5{
    animation: change 30s linear infinite alternate;
    animation-delay: 4s;
}
#a6{
    animation: change 30s linear infinite alternate;
    animation-delay: 5s;
}

#b1{
    color: #000;
}

@keyframes change{
    0%{ 
     color:#00BFFF;   
    }
    10%{
    color: #FFD700;
    }
    20%{  
     color:#FF4500;   
    }
    30%{ 
    color:#8A2BE2;   
    }
    40%{    
    color:#00FF7F;
    }
    50%{    
     color:#00CED1;
    }
    60%{    
     color:#FFDAB9;   
    }
    70%{ 
     color:#912424;
    }
    80%{ 
    color:#000080;
    }
    90%{ 
    color:#8A2BE2;
    }
    100%{ 
    color:#7B68EE;
    } 
}