:root{
  --theme-color:#A80000;
  --hover-color:#902222;
}
*{
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
h2{
  color: var(--theme-color);
}
.navbar{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul li{
  display: inline-block;
  list-style-type: none;
  margin-right: 2em;
}
li a{
  font-size: 1.2em;
  color: #2C2C2C;
  font-weight: bold;
  text-decoration: none;
}
.active{
  border-bottom:4px solid #2C2C2C;
  padding-top: 4px;
}
li a:hover{
  color: var(--hover-color);
}
.icons img{
  border: 2px solid #efeeee;
  margin-right: 1em;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}
.icons img:hover{  
  background-color: #e0e0e0;
}

.hero{
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  cursor: pointer;
  animation: appear linear 1s;
}
.hero img{
  transition: transform 0.4s ease-in-out; /* Smooth transition for both hover and return */
}
.hero img:hover{
  transform: rotate(40deg); /* Rotate 40 degrees on hover */

  /* rotate: 40deg; */
}
.circles{
  display: flex;
  align-items: start;
  justify-content:end;
  flex-direction: column;
  gap: 10px;
}
.circle{
  width: 20px;
  height: 20px;
  background-color: #2C2C2C;
  border-radius: 50%;
}
.theme-circle{
  background-color: var(--theme-color);
}
h1{
  margin-bottom: 0.2em;
  font-size: 4em;
  font-weight: 400;
  font-family: Port Lligat Slab;
  color: var(--theme-color);
}
.left{
  width: 42vw;
  height: 50vh;
  align-items: start;
}
p{
  color: #2C2C2C;
  font-weight:500;
}

.right img{
  width: 38vw;
}
.right{
  display: flex;
}
input[type="radio"]{
  accent-color: var(--theme-color);
  outline: none;
  width: 30px;
  height: 30px;
  border: none;
  appearance: radio;
  border: none;
  box-shadow: none;
  background-color: white;
}
.row{
  height: 15vh;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
} 
label{
  font-family: Roboto;
  color: #2C2C2C;
  font-weight:600;
  display: inline-block;
}
hr{
  background-color: #D9D9D9;
  height: 2px;
  border: none;
}

.buttons{
  margin-top:2em;
  width: 90%;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 30px;
}
.btn-1{
  cursor: pointer ;
  font-family: Roboto;
  font-weight: 700;
  border: none;
  color: #fff;
  padding: 10px 40px;
  background-color: var(--theme-color);
  border-top-right-radius: 50px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 500px; /* Apply bottom-right radius */
  border-bottom-left-radius: 100px;
  transition: background 0.2s ease-in-out; /* Smooth transition for shadow */  
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3); /* Black shadow effect */
}

.btn-2{
  cursor: pointer ;
  font-family: Roboto;
  font-weight: 700;
  border: none;
  color: #fff;
  background-color:#545454;
  padding: 10px 30px;
  border-top-left-radius: 500px; /* Apply bottom-right radius */
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  transition: background 0.2s ease-in-out; /* Smooth transition for shadow */
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3); /* Black shadow effect */
}

.btn-1:hover{
  background-color: var(--hover-color);
}

.btn-2:hover{
  background-color: #343131;
}

@keyframes appear{
  0%{
    transform: translateY(-50px);
    opacity: 0;
  }
  50%{
    transform: translateY(-20px);
    opacity: 0.6;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}